[submodule "rl_ws/genesis_official"]
	path = rl_ws/genesis_official
	url = https://github.com/Genesis-Embodied-AI/Genesis.git
	ignore = dirty
[submodule "rl_ws/mujoco_menagerie"]
	path = rl_ws/mujoco_menagerie
	url = https://github.com/google-deepmind/mujoco_menagerie.git
	ignore = dirty
[submodule "ref/unitree_rl_gym"]
	path = ref/unitree_rl_gym
	url = https://github.com/unitreerobotics/unitree_rl_gym.git
[submodule "ref/RobStride_Control"]
	path = ref/RobStride_Control
	url = https://github.com/Seeed-Projects/RobStride_Control.git
[submodule "isaac_ws/IsaacLab"]
	path = isaac_ws/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
